.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
benchmarks/*.png
node_modules
coverage
.idea
dist
.*
!/.gitignore
!/.babelrc
!/.eslintrc
!/examples/chat/public/index.html
/examples/chat/public/*

